@import '../global.scss';

b{
    font-family: $bold;
}

.aboutme-container{
    // background
    background-image: url('../../images/gridbg.png');
    background-size: cover;

    // size
    width: 100%;
    height: toRem(400);

    // font
    color: $mainColor;

    .aboutme-wrapper{
        // size
        width: $deskW;
        height: 100%;

        // center
        margin: 0 auto;

        // flex
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .aboutme-text{
            // size
            width: 55%;
            max-height: 100%;

            .aboutme-name{
                // font
                font-family: $bold;
                font-size: 3.2rem;
                line-height: 3.2rem;
                color: white;
                opacity: 1;
                // margin
                margin: 0;
            }

            .aboutme-description{
                // font
                font-size: $mainFontSize;
                font-family: $light;
                color: white;

                // margin
                margin: toRem(10) 0;
                word-break: keep-all;
                word-wrap: break-word;

            }

            .aboutme-icon-wrapper{
                img{
                    // size
                    width: 1.7 * $mainFontSize;

                    // margin
                    margin-right: toRem(10);

                    // color
                    transform: rotate(0);
                    transition: all 0.8s;
                    &:hover{
                        transform: rotate(1turn);
                    }
                }

                .aboutme-icon-mail{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        .aboutme-figure{
            // size
            height: 100%;

            // flex -> align video to right
            display: flex;
            justify-content: end;

            video{
                // size
                width: 80%;
            }
        }
    }
}