@import "../global.scss";

.foot-container{
    // size
    width: $deskW;
    height: $footH;
    margin: 0 auto;
    
    // text
    display: flex;
    justify-content: center;
    align-items: center;
    color: $darkColor;
    font-size: $mainFontSize;

}