@import "../global.scss";

.head-container{
    // size
    width: 100%;
    height: $headH;

    // border
    border-bottom: 1px solid $whiteBlue;

    // position
    position: fixed;
    top: 0;
    left: 0;
    
    // background
    background-color: rgba(255, 255, 255, 0.226);
    z-index: 2;

    // center
    display: flex;
    justify-content: center;
    align-items: center;

    .head-nav-wrapper{
        // size
        width: $deskW;
    
        // flex
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        // background
    
        p {
            margin: 0;
            font-size: $mainFontSize;
            color: $mainColor;
            padding: 0.2rem 0.5rem;
            position: relative;
            overflow: hidden;
          
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%); // Center vertically
              width: 0%; // Start hidden
              height: 50%; // Highlight height: 50% of text height (adjust as needed)
              background-color: $yellowColor;
              z-index: -1; // Stay behind the text
              transition: width 0.2s ease;
            }
          
            &:hover::before {
              width: 100%;
            }
          }
          
          
        .head-nav{
            // flex
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            p{
                // margin
                margin-left: 2rem;
            }
        }
    }
}