@import '../components/global.scss';

.ongoing-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .ongoing-wrapper {
    flex: 1 1 45%; // Two cards per row on desktop
    display: flex;
    flex-direction: column;

    .ongoing-thumbnail {
      width: 100%;
      height: auto; // maintain aspect ratio
      object-fit: cover;
    }

    .ongoing-title {
      margin: 0.5rem 0;
      margin-top: 2rem;
      font-size: $smallFontSize;
      font-family: $bold;
    }

    .ongoing-description {
      margin: 0.3rem 0;
      font-size: $smallFontSize;
      text-align: justify;
    }
  }
}

.education-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .education-item {
    display: flex;
    flex-direction: column; // stack date and text vertically for small screens
    font-size: $smallFontSize;

    .education-date {
      font-family: $bold;
    }

    .education-text {
      margin-left: 0;
      margin-top: 0.2rem;
    }
  }
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
  .ongoing-container {
    flex-direction: column; // stack projects vertically
  }

  .ongoing-wrapper {
    flex: 1 1 100%; // full width
  }

  .education-item {
    flex-direction: column; // stack date and text vertically
    align-items: flex-start;
  }
}
