@import '../global.scss';

.papercard-icon-wrapper{
    // flex
    display: flex;
    align-items: center;

    .papercard-icon-icon{
        // size
        width: $mainFontSize;
        height: $mainFontSize;

        .fa-icon{
            // size
            width: 100%;
            height: 100%;

            // color
            fill: $mainColor;
        }
    }

    .papercard-icon-desc{
        // size
        height: 100%;
        margin: 0;
        margin-left: 0.2 * $mainFontSize;
        margin-right: $mainFontSize;

        // fontsize
        font-size: $smallFontSize;

        // color
        color: $mainColor;
    }
}