@import "../global.scss";

.head-dummy{
    // size : auto * 4%
    height: $headDummyH;
}

.head-container{
    // size : total 70% * 5%
    width: $deskW;
    height: $headH;
    margin: 0 auto;

    // flex
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        // font
        font-size: $mainFontSize;
        color: $mainColor;

        // bold when hover w/o moving
        &:hover{
            text-shadow: 0 0.015em #101010,0 -0.015em #101010,0.01em 0 #101010,-0.01em 0 #101010;
        }
    }

    .head-nav{
        // flex
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p{
            // margin
            margin-left: 2rem;
        }
    }
}