@import '../global.scss';

.under-container{
    // background
    background-image: url('../../images/gridbg_v2.png');
    background-size: cover;

    // size
    width: 100%;
    height: 100%;

    // font
    color: $yelloColor;

    .under-wrapper{
        // size
        height: 100%;

        // center
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .under-title{
            // text
            font-family: 'GmarketSansBold';
            font-size: 4rem;
            text-align: center;
            line-height: 4rem;

            // margin
            margin: 0;
        }

        .under-desc{
            // margin
            margin: 0;

            // text
            font-family: 'GmarketSansLight';
            font-size: 1rem;
        }

    }
}